<div class="yg-container">
  <div class="yg-row yg-space-around">
    <div class="card">
      <h2 class="card__title">Purchase Course</h2>

      <div class="card__body">
        <h3>{{model.name}} - {{format-money (cents-to-dol model.price)}}</h3>

        <div class="course-actions">
          {{#if jwtInfo.card_brand}}
            <button class="course-actions__btn btn btn--success btn--small" {{action "existingCard" model}}>
              Pay with {{jwtInfo.card_brand}} {{jwtInfo.card_last_four}}
            </button>
          {{/if}}

          <button class="course-actions__btn btn btn--success btn--small" {{action "startStripe" model}}>
            Pay with New Card
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if purchasing}}
<div class="modal">
  <div class="modal__content">
    <div class="yg-container">
      <div class="yg-row yg-space-around">
        <div class="card">
          <h2 class="card__title">Purchase in Progress...</h2>
          <div class="card__body">
            <p>We're working to process your payment with Stripe.</p>

            <p class="center">{{fa-icon "spinner" pulse=true size=2}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
