<div class="yg-container">
  <div class="yg-row yg-space-around">
    {{#eg-card title=model.name}}
      <p>{{model.description}}</p>

      {{#card-list title="Lessons" as |list|}}
        {{#each model.lessons as |lesson|}}
          {{#list.item}}
            {{#if lesson.isLoaded}}
              {{lesson.title}} - {{sec-to-human lesson.time}}
            {{else}}
              {{fa-icon "spinner" pulse=true size="lg" class="fa--center"}}
            {{/if}}
          {{/list.item}}
        {{/each}}
      {{/card-list}}
    {{/eg-card}}
  </div>
</div>
