<header class="home-hero">
  <div class="yg-container">
    <div class="home-hero__content">
      {{#with (latest model.courses 'releaseDate') as |newestCourse|}}
        <h2 class="home-hero__message">
          New Course: {{newestCourse.name}}
        </h2>

        <p class="home-hero__actions">
          {{link-to "learn more" "course-previews.detail" newestCourse class="btn home-hero__btn"}}
          {{link-to "buy now" "course-previews.detail" newestCourse class="btn home-hero__btn"}}
        </p>
      {{/with}}

      <div class="home-hero__video">
        {{ivy-videojs src=promoVideo controls=true fluid=true poster="/img/placeholder.png"}}
      </div>
    </div>
  </div>
</header>

<div class="yg-container">
  <div class="yg-row">
    <div class="yg-col-1of1">
      <h2 class="home-subheading">Ember.js videos to get you up and running</h2>
    </div>
    <div class="yg-col-1of2">
      <div class="home-list">
        <h3 class="home-list__heading">Free Lessons</h3>

        <ul>
          {{#each model.lessons as |lesson|}}
            <li class="home-list__item">
              {{link-to lesson.title 'free-lessons' lesson class="home-list__link"}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="yg-col-1of2">
      <div class="home-list">
        <h3 class="home-list__heading">Available Courses</h3>
        <ul>
          {{#each model.courses as |course|}}
            <li class="home-list__item">
              {{link-to course.name 'course-previews.detail' course}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
