<div class="yg-container">
  <div class="yg-row yg-space-around">
    <div class="card">
      <h2 class="card__title">{{model.name}}</h2>

      <div class="card__body">
        <p>{{model.description}}</p>

        <div class="course-actions">
          {{#unless model.purchased}}
            {{#link-to "course-purchase" model class="btn btn--success btn--small"}}
              Purchase {{format-money (cents-to-dol model.price)}}
            {{/link-to}}
          {{/unless}}
        </div>

        {{#card-list title="Lessons" as |list|}}
          {{#each model.lessons as |lesson|}}
            {{#list.item}}
              {{lesson.title}} - {{sec-to-human lesson.time}}
            {{/list.item}}
          {{/each}}
        {{/card-list}}
      </div>
    </div>
  </div>
</div>
