<section class="lesson-section lesson-section--video-screen lesson-section--free-lesson">
  <div class="lesson-video">
    <div class="yg-container">
      <div class="yg-row">
        <div class="yg-col-1of1">
          <div class="video-screen">
            {{ivy-videojs src=model.video.hdUrl controls=true fluid=true poster="/img/placeholder.png" setup=videoOptions}}
          </div>
        </div>
      </div>

      <div class="yg-row">
        <div class="yg-col-1of1">
          <div class="video-info">
            <h2 class="video-info__title">{{model.title}}</h2>

            <p class="video-info__description">{{model.description}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="lesson-video__transport">
      {{#if model.prevLesson}}
        {{#link-to "courses.detail.lesson" model.prevLesson class="lesson-video__transport-button lesson-video__transport-button--left"}}
          {{fa-icon "chevron-left"}}
        {{/link-to}}
      {{/if}}

      {{#if model.nextLesson}}
        {{#link-to "courses.detail.lesson" model.nextLesson class="lesson-video__transport-button lesson-video__transport-button--right"}}
          {{fa-icon "chevron-right"}}
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</section>

<section class="lesson-section lesson-section--info">
  {{#ivy-tabs class="tab-view" as |tabsContainer|}}
    {{#ivy-tab-list class="tab-selector" tabsContainer=tabsContainer as |tabList|}}
      <div class="yg-container">
        {{#ivy-tab class="tab-selector__choice" tabList=tabList}}Lesson Notes{{/ivy-tab}}
        {{#ivy-tab class="tab-selector__choice" tabList=tabList}}Bar{{/ivy-tab}}
      </div>
    {{/ivy-tab-list}}
    <div class="yg-container">
      <div class="yg-row">
        <div class="yg-col-1of1">
          {{#ivy-tab-panel tabsContainer=tabsContainer}}
            {{format-markdown model.lessonNotes}}
          {{/ivy-tab-panel}}

          {{#ivy-tab-panel tabsContainer=tabsContainer}}
            <h2>Bar</h2>
          {{/ivy-tab-panel}}
        </div>
      </div>
    </div>
  {{/ivy-tabs}}
</section>
